In [22]:
def info(name,age,mark,l,t,d,s):
    print(f"Name : ",name ,"     Type:",type(name))
    print(f"Age : ",age,"       Type:",type(age))
    print(f"Mark : ",mark,"     Type:",type(mark))
    print(f"List : ",l,"        Type:",type(l))
    print(f"Tuple : ",t,"      Type:",type(t))
    print(f"Dict : ",d,"      Type:",type(d))
    print(f"Set : ",s,"       Type:",type(s))

In [23]:
info("ABC",20,90.4,[1,2,3],(1,2,34,3),{1:2,2:3},{3,445,6})

Name :  ABC      Type: <class 'str'>
Age :  20        Type: <class 'int'>
Mark :  90.4      Type: <class 'float'>
List :  [1, 2, 3]         Type: <class 'list'>
Tuple :  (1, 2, 34, 3)       Type: <class 'tuple'>
Dict :  {1: 2, 2: 3}       Type: <class 'dict'>
Set :  {3, 445, 6}        Type: <class 'set'>

In [24]:
def loop(d):
    for i,j in d.items():
        print(f"Value:{i}  Key:{j}")

In [14]:
loop({1:2,3:4,5:6})

Value:1  Key:2
Value:3  Key:4
Value:5  Key:6

In [9]:
def num(a,b):
    return f"The 2 num are ",a,b

In [10]:
nu=num(5,6)
print(nu)

('The 2 num are ', 5, 6)